* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

ul,ol{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.icon_bar{
    height: 5px;
    width: 10px;
    border-radius: 99px;
    background: blue;
}