*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    padding: 30px;
}
.main__content{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.main__content--left{
    flex: 0 0 30%;
}
.main__content--right{
    flex: 0 0 70%
}

h1{
    position: relative;
    text-transform: uppercase;
}

h1::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 60px;
    background-color: tomato;
}

.main__content--left h3,.main__content--right h3{
    margin-bottom: 15px;
}

.main__content--left div{
    font-size: 20px;
    color: #9e9e9e;
}
.main__content--left div:not(:last-child){
    margin-bottom: 15px;
}
.main__content--right input,textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #9e9e9e;
}

.main__content--right button{
    background: #17b9b6;
    color: white;
    border: none;
    padding: 10px;
}