* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.project{
    position: relative;
}

.project__banner img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project__banner{
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 25%;
}

.project__banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000005e;
    top: 0;
    left: 0;
    
}

.project__footer{
    position: absolute;
    width: 100%;
    display: flex;
    bottom: -50px;
    padding: 0 100px;
}

.project__image{
    overflow: hidden;
    border-radius: 5px;
}
.project__image img{
    width: 100%;
    height: 100%;
}

.project__title {
    margin-left: 20px;
}

.project__tab{
    display: flex;
    position: absolute;
    bottom: 15px;
    right: 100px;
    list-style: none;
}

.project__tab li a{
    display: block;
    padding: 5px 15px;
    color: #dd5e56;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.project__tab li a.active::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% - 30px);
    height: 3px;
    left: 15px;
    background: #dd5e56;
}

.project__title{
    color: white;
}
.project__title h3{
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 30px;
}

.project__title-sub{
    display: flex;
    justify-content: space-between;
}

.project__title-sub__bold{
    font-weight: bold;
    font-size: 24px;
}