* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 86px;
    height: 86px;
    border: 1px solid black;
    background:url("../images/test.webp") no-repeat;
    animation: move 1s steps(1) infinite;
}

@keyframes move {
    0% {
            background-position: -0px -0px
        }


        2.5% {
            background-position: -86px -0px
        }


        5% {
            background-position: -172px -0px
        }


        7.5% {
            background-position: -258px -0px
        }


        10% {
            background-position: -344px -0px
        }


        12.5% {
            background-position: -430px -0px
        }


        15% {
            background-position: -516px -0px
        }


        17.5% {
            background-position: -0px -86px
        }


        20% {
            background-position: -86px -86px
        }


        22.5% {
            background-position: -172px -86px
        }


        25% {
            background-position: -258px -86px
        }


        27.5% {
            background-position: -344px -86px
        }


        30% {
            background-position: -430px -86px
        }


        32.5% {
            background-position: -516px -86px
        }


        35% {
            background-position: -0px -172px
        }


        37.5% {
            background-position: -86px -172px
        }


        40% {
            background-position: -172px -172px
        }


        42.5% {
            background-position: -258px -172px
        }


        45% {
            background-position: -344px -172px
        }


        47.5% {
            background-position: -430px -172px
        }


        50% {
            background-position: -516px -172px
        }


        52.5% {
            background-position: -0px -258px
        }


        55% {
            background-position: -86px -258px
        }


        57.5% {
            background-position: -172px -258px
        }


        60% {
            background-position: -258px -258px
        }


        62.5% {
            background-position: -344px -258px
        }


        65% {
            background-position: -430px -258px
        }


        67.5% {
            background-position: -516px -258px
        }


        70% {
            background-position: -0px -344px
        }


        72.5% {
            background-position: -86px -344px
        }


        75% {
            background-position: -172px -344px
        }


        77.5% {
            background-position: -258px -344px
        }


        80% {
            background-position: -344px -344px
        }


        82.5% {
            background-position: -430px -344px
        }


        85% {
            background-position: -516px -344px
        }


        87.5% {
            background-position: -0px -430px
        }


        90% {
            background-position: -86px -430px
        }


        92.5% {
            background-position: -172px -430px
        }


        95% {
            background-position: -258px -430px
        }


        97.5% {
            background-position: -344px -430px
        }
}