@font-face {
    font-family: SpaceGrotesk;
    src: url(../fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Inter;
    padding: 0 150px;
}

.histories{
    display: flex;
    flex-wrap: wrap;
}

.lists{
    flex: 0 0 40%;
}

.images{
    flex: 0 0 60%;
    position: relative;
}

.images img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.image__center{
    max-width: 400px;
    height: 0;
    padding-bottom: 500px;
    margin: 0 auto;
    position: relative;
}


.image__center img{
    inset: 0;
    position: absolute;
}

.image_absolute{
    position: absolute;
    width: 300px;
    height: 400px;
    bottom: 25%;
    left: 0;
}

.layout{
    position: absolute;
    inset: 0;
    margin: 15px;
    background: #4058ad;
}

.layout span{
    font-size: 60px;
    background-image: url(https://picsum.photos/1920/600);
    background-position: 75% 20%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.layout__content{
    position: absolute;
    bottom: 50px;
    right: 15px;
    color:white;
}

.item h3{
    font-family: SpaceGrotesk;
    padding-right: 25px;
}
.item{
    position: relative;
    width: 50%;
    text-align: right;
}
.item + .item {
    margin-top: 15px;
}


.item .content{
    margin-top: 10px;
    padding-right: 25px;
    padding-bottom: 30px;
}
.item:not(:last-child) .content{
    border-right: 1px solid #e8e8e8;
}

.item::after{
    content: attr(data-year);
    position: absolute;
    right: -110px;
    top: 4px;
}

.item::before{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3c887c;
    position: absolute;
    right: -5px;
    top: 8px;
    box-shadow: 0 0 10px 2px #00800083
}

.item span{
    color: #838386;
    background: #f3f3f3;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 99px;
    margin-top: 10px;
    transition: background-color .4s ease, color .4s ease;
}

.item:hover span{
    background-color: brown;
    color: white;
}