* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    border: 1px solid red;
    margin: 30px auto;
}

.row{
    display: flex;
    flex-direction: row;
    height: 700px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    /* row-gap: 20px; */
    /* column-gap: 15px; */
    overflow: auto;
}

.item{
    padding: 15px;
    background: green;
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    flex-basis: calc(100% / 5 - 10px);
    /* flex-basis: calc(100% / 4 - 10px); */
    /* border: 1px solid white; */
}

.item:nth-child(3){
    /* padding: 30px; */
    /* flex-grow: 10; */
}